.menu{
    /* border: 4px red solid; */
    display: grid;
    grid-template-columns: 100px auto;
    height: 100vh;
    transition: 0.5s ease;
}

.menuActive{
    display: grid;
    grid-template-columns: 300px auto;
    transition: 0.4s ease;
    height: 100vh;
}

@media (max-width: 620px) {
    .menuActive{
        display: grid;
        grid-template-columns: 200px auto;
        transition: 0.5s ease;
    }
}
@media (max-width: 800px) {
    .menu{
        display: flex;
        flex-direction: column;
        transition: 0.4s ease;
        /* gap: 20px; */
    }
    .menuActive{
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 200px auto; */
        transition: 0.5s ease;
    }
}