.menu{
    display: grid;
    grid-template-columns: 100px auto;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: 0.4s  cubic-bezier(0.87, 0, 0.13, 1);
}

.menuActive{
    display: grid;
    grid-template-columns: 300px auto;
    transition: 0.4s  cubic-bezier(0.87, 0, 0.13, 1);
    height: 100vh;
    overflow: hidden;
}

.mainContain{
    height: 100%;
}

@media (max-width: 800px) {
    .menu{
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
        height: 100vh;
        width: 100%;
        place-content: center;
        vertical-align: middle;
        overflow: hidden;    
    }
    .menuActive{
        display: flex;
        flex-direction: column;
        transition: 0.5s ease;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        place-content: center;
        vertical-align: middle;
    }
    .menu::-webkit-scrollbar{
    width: 0;
}
}
