.container{
    width: 100%;
    height: 100vh !important;
    /* overflow-y: auto; */
     place-content: center;
   vertical-align: middle;
       /* overflow-y: auto; */

}
.container .profile{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.timer{
    font-size: calc(25px + 0.25vw);
    color: black;
}
.darkTimer{
  font-size: calc(25px + 0.25vw);
    color: white;
}

.timer .hourglass{
    animation: rotation 1s linear infinite;
}

.darkTimer .hourglass{
  
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0%{
        opacity: 0;

    }
    50%{
       opacity: 1;
    }
    100%{
       opacity: 0;
    }
}

.mainProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    /* border: 2px blue solid; */
}

.container .profilePic{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: "no-repeat";
    background-size: cover;
    background-position: center;
}

.main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* border: 2px red solid; */
    height: 70%;
}

.questDark{
color: #fff;
}
.question{
    color: black;
}
.list{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
    width:fit-content;
    min-width: 70%;
    max-width: 100%;
    padding: 30px;
    /* border: 2px green solid; */
}
.list1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    font-size: calc(17px + 0.25vw);
    width: 95%;
}

.list1 button{
    font-size: calc(17px + 0.25vw);
    border: none;
    padding: 10px 10px;
    width: fit-content;
    outline: none;
    transition: 0.4s ease;
    background-color: rgb(51, 51, 175);
    color: #fff;
    border-radius: 20px;
}
.list2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    border: none;
    font-size: calc(17px + 0.25vw);
    width: 95%;
}

.list2 button{
    /* font-size: 24px; */
        font-size: calc(17px + 0.25vw);
    padding: 10px 10px;
    width: fit-content;
    outline: none;
    border: none;
    transition: 0.4 ease;
        background-color: rgb(51, 51, 175);
        color: white;
        border-radius: 20px;
}

.list1 button:hover{
    background-color: transparent;
        border: 1px blue solid;
        transition: 0.4s ease;
        color: black;
        cursor: pointer;
}
.list2 button:hover{
    background-color: transparent;
     border: 1px blue solid;
    transition: 0.4s ease;
    color: black;
    cursor: pointer;
}

.btnStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.prev{
    padding: 10px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
        border: 1px black solid;
}
.next{
    padding: 10px 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: 1px black solid;
}

.next:hover{
    border: 1px blue solid;
    transition: 0.4s ease;
    cursor: pointer;
}

.prev:hover{
    border: 1px blue solid;
    transition: 0.4s ease;
    cursor: pointer;
}

#persistColor{
   background-color: blue !important;
   color: black !important;
   border: 1px black solid;
}

#persistLightColor{
   background-color: white !important;
   color: black !important;
   border: 1px blue solid;
}

.list .list1 .flex {
    display: flex;
    align-items: center;
    gap: 30px;
}
.list .list2 .flexOption {
    display: flex;
    align-items: center;
    gap: 30px;
    /* border: 2px yellow solid; */
}

.main p{
    margin-top: 20px;
        font-size: calc(18px + 0.25vw);

}

@media (max-width: 970px) {
    .list1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .list2{
        display: flex;
        flex-direction: column;
                width: 100%;
    }
}
@media (max-width: 800px) {
  .container{
    height: 100vh;
    width: 100%;
     place-content: center;
   vertical-align: middle;
   overflow-y: auto;
  }
  .container::-webkit-scrollbar{
    width: 0;
  }
   .container .profilePic{
    width: 80px;
    height: 80px;
  }
  
    .main{
vertical-align: middle;
place-content: center;
height: 100%;
    }
  .list{
    width: 100%;
  }
}
@media (max-width: 500px) {
    .profile{
        margin-bottom: 20px;
        padding: 7px;
    }

  
  .list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 5px;
    margin: 10px auto;
    width: 100%;
  }
  .list1{
    width: 100% !important;
  }
  .list2{
    width: 100%;
    /* margin: 2px auto; */
  }
  .list .list1 .flex {
    display: flex;
    align-items: center;
    gap: 10px;
}
  .list .list2 .flexOption {
    display: flex;
    align-items: center;
    gap: 10px;
}
 .container .profilePic{
    width: 60px;
    height: 60px;
  }
  .mainProfile h2{
    font-size: calc(14px + 0.25vw);
  }
  .container{
     height: 100vh;
  }
  .list2 button{
    /* font-size: 16px; */
        font-size: calc(16px + 0.25vw);

}.list1 button{
    /* font-size: 16px; */
        font-size: calc(16px + 0.25vw);
}
.btnStyle{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.main h2{
    font-size: calc(18px + 0.25vw);
    width: 98%;
    margin-top: 50px;
}

.timer{
    font-size: calc(18px + 0.25vw);
    color: black;
}
.darkTimer{
  font-size: calc(18px + 0.25vw);
    color: white;
}


}